body {
  background-color: #f5f6fa;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.appLeft {
  flex: 0.9;
}

.Header {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.InfoBoxes {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}

.table {
  margin: 20px 0;
  overflow: scroll;
  height: 40vh;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table td {
  padding: 5px 0 5px 0;
}
